<link rel="import" href="/bower_components/polymer/polymer.html">
  
<dom-module id="test-help">
  <template>
    <link rel="stylesheet" type="text/css" href="./test-help.css">
    <section>
	    <h2>Help</h2>
		<p>{{ helptext }}</p>
    </section>
  </template>

  <script>
    System.import('/src/polymer/views/test-help/test-help.js');
  </script>
</dom-module>
