<link rel="import" href="/bower_components/polymer/polymer.html">
<dom-module id="test-counter">
  <template>
    <link rel="stylesheet" type="text/css" href="test-counter.css" />
    
    <div class="section white container" id="container-app" style="margin: 0;padding: 0;padding-bottom: 20;">
      <div>
        <span style="color:cyan;">You have clicked {{_.counter.cnt}} times</span>
          <button style='background-color: green' on-click="callHandler" data-handler="increment">
            +1
          </button>
          <button style='background-color: red' on-click="callHandler" data-handler="decrement">
            -1
          </button>
      </div>
    </div>

  </template>

  <script>
    System.import('/src/polymer/common/test-counter/test-counter.js');
  </script>  

  <!-- <script src='./test-container.js'></script> -->

</dom-module>