section#links {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  color: #666;
  background: #333;
  width: 60px;
  background-color: black;
  color: white;
  transition: width .2s;
  z-index:1;
}
section#links :hover {
  width: 60px;
}
section#links a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 .8em;
  color: white;
  text-decoration: none;
  background: #444;
}
section#links a:hover {
  background: #666;
}
