<link rel="import" href="/bower_components/polymer/polymer.html">
  
<dom-module id="test-navi">
  <template>
    <link rel="stylesheet" type="text/css" href="./test-navi.css">
    <section id='links'>
    <a on-click='to' class='__trigger' data-link='/?page=app-browser&target=section#content-area&fragment=app-browser'>R</a>
    <a on-click='to' class='__trigger' data-link='/?page=app-browser&target=section#content-area&fragment=app-browser'>C</a>
    <a on-click='to' class='__trigger' data-link='/?page=test-counter&target=section#content-area&fragment=test-counter'>{{_.counter.cnt}}</a>
    </section>

  </template>

  <script>
    System.import('/src/polymer/views/test-navi/test-navi.js');
  </script>
</dom-module>
