<link rel="import" href="/bower_components/polymer/polymer.html">
  
<dom-module id="test-main">
  <template>
  <link rel="stylesheet" type="text/css" href="./test-main.css">
    <section id='content-area'>

      <article>
        <h1>{{ title }}</h1>
        <p>{{ body }}</p>
        <ul if={ isFirst }>
          <li each={ data }><a href="#/first/{{ id }}">{{ title }}</a></li>
        </ul>
      </article>
      </section>
  </template>

  <script>
    System.import('/src/polymer/views/test-main/test-main.js');
  </script>
</dom-module>
