.container {
  width: 450px;
  height: 400px;
}

#selectedAppDiv {
  margin:5vh;
  padding: 2vh;
  width: 100%;
}

#selectAppDiv {
  margin:5vh;
  padding: 2vh;
  width: 100%;
}

#createAppDiv {
  position: relative;
  z-index: 11111;
  top: 20%;
  margin-left: 5vh;
  padding: 2vh;
  width: 100%;
}

#appMessageDiv {
  z-index: 11;
  top: 30%;
  margin-left: 5vh;
  padding: 2vh;
  width: 100%;
  position: absolute;
}



#createAppBtn {
  margin-top:5vh;
}