<link rel="import" href="/bower_components/polymer/polymer.html">
<dom-module id="app-browser">
  <template>
    <link href="http://materializecss.com/css/prism.css" rel="stylesheet">
    <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel="stylesheet" type="text/css" href="app-browser.css" />
    
    <section>
      <div class="section white container" id="container-app" style="margin: 0;padding: 0;padding-bottom: 20;">
        <div>

          <div id='selectAppDiv'>
            <!-- Dropdown Trigger -->
            <span>
              <button id='existingAppBtn' class='dropdown-button btn' data-activates='app-selector'>My Apps</button>
            </span>
            <span>
              <button id='createAppBtn' class='btn' on-click="processAppCreate">Create App</button>
            </span>
          </div>

          <!-- Dropdown Structure -->
          <ul id='app-selector' class='dropdown-content'>
            <li each={ app_item in app_items }>
              <a href="#!" data-appid={app_item._id} on-click="processAppSelect">{{app_item._id}}</a>
            </li>
          </ul>

          <div id='createAppDiv'>
            <input id='createAppInput' class='input' placeholder="New App name"/>
            <button id='createRollbackAppBtn' class='btn' on-click="resetAppCreate">Reset</button>
            <button id='createConfirmAppBtn'class='btn' on-click="submitAppCreate">Submit</button>
          </div>

          <div id='appMessageDiv'>
          <div if={{created_app_name || selected_app_name}}>
              <p>App is <a href='#!app?app_id={{selected_app || created_app}}'>{{selected_app_name || created_app_name}}</a></p>
              <button class='btn' data-app_id='{{selected_app || created_app}}' data-app_name='{created_app_name || selected_app_name}'  on-click="deleteApp">Delete App</button>
              <button class='btn' data-app_id='{{selected_app || created_app}}' data-app_name='{{created_app_name || selected_app_name}}'  on-click="goToApp">Select App</button>
            </div>
          </div>
        </div>
      </div>
    </section>

  </template>

  <script>
    System.import('/src/polymer/common/app-browser/app-browser.js');
  </script>  

  <!-- <script src='./test-container.js'></script> -->

</dom-module>