<link rel="import" href="/bower_components/polymer/polymer.html">
<!-- <link rel="import" href="/bower_components/redux-store-element/redux-store.html"> -->

<link rel="import" href="../test-main/test-main.html">
<link rel="import" href="../test-navi/test-navi.html">
<link rel="import" href="../test-help/test-help.html">

<dom-module id="poly-app">
    <template>
        <test-main></test-main>
	    <test-navi></test-navi>
	    <test-help></test-help>
    </template>

    <script>
        System.import('/src/polymer/views/app/app.component.js');
    </script>
</dom-module>
